<ion-header>
  <ion-toolbar >
    <ion-title>Add Student</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>กรุณากรอกรายระเอียดนักศึกษา</ion-card-subtitle>
      <ion-card-title>เพิ่มนักเรียน</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">ชื่อ</ion-label>
        <ion-input type="text" [(ngModel)]='name'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">นามสกุล</ion-label>
        <ion-input type="text" [(ngModel)]='name'></ion-input>
      </ion-item>
      <br/>
      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            หลักสูตรที่ศึกษา
          </ion-list-header>
      
          <ion-item>
            <ion-label >ภาคปกติ</ion-label>
            <ion-radio [(ngModel)]='study_type' value="1"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>ภาคพิเศษ(เสาร์ - อาทิตย์)</ion-label>
            <ion-radio [(ngModel)]='study_type' value="2"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>ภาคพิเศษ(ศุกร์ - อาทิตย์)</ion-label>
            <ion-radio [(ngModel)]='study_type' value="3"></ion-radio>
          </ion-item>
      
        </ion-radio-group>
      </ion-list>
      <br/>
      <ion-button expand="block" color=primary [(click)]="save">Save !!</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
